html {
  overscroll-behavior: none;
  margin: 0;
  background-color: #eff8ff;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  margin: 0;
  height: 100%;
  background-color: #eff8ff;
}

text {
  color: rgb(4, 4, 71);
}

/* Gallery container */

.gallery {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for responsiveness */
  justify-content: space-between; /* Evenly distribute columns */
  gap: 10px; /* Add spacing between columns */
  margin-top: auto;
  margin: 10px;
}

/* Individual column */
.gallery-column {
  display: flex;
  flex-direction: column; /* Stack items vertically in each column */
  gap: 10px; /* Add spacing between items in a column */
  flex: 1; /* Make all columns take equal space */
}

/* Images */
.gallery img {
  width: 100%; /* Images take full width of their column */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: rounded corners */
  object-fit: cover; /* Optional: ensure proper scaling */
}

.gallery-image {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gallery-image.loaded {
  opacity: 1;
}

.gallery-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin: 10px;
}
/* Responsive design */
@media (max-width: 800px) {
  .gallery {
    flex-direction: column; /* Switch to one column on smaller screens */
  }
  .gallery-header {
    margin-top: 70px;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner img {
  width: 50px;
  height: 50px;
}
.filter-container {
  display: grid;
  grid-template-rows: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
