.faqs {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  text-decoration: none;
  font-size: clamp(32px, 5vw, 52px);
}
h2 {
  font-size: clamp(20px, 4vw, 32px);
}
p {
  font-size: clamp(16px, 2vw, 28px);
}

.link {
  position: relative;
  text-decoration: underline;
}

.link:hover {
  color: navy;
}
