
html {
  overscroll-behavior: none;
  margin: 0;
  height: 100%;
  background-color: #eff8ff;
  scroll-behavior: smooth;

}

body {
  overscroll-behavior: none;
  margin: 0;
  height: 100%;
  background-color: #eff8ff;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 50px;

}

text{
  color:rgb(4, 4, 71);
}

.gridLayer{
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
}

.gridLayerFirst{
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
  grid-template-rows: 100px 1fr;
}

.gridLayerRows{
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}


.textoverlay {
  position:absolute;
  top: 0%;
  left: 32%;
  z-index: 100;
  font-size: 35px;
  fill: rgb(4, 4, 71);
}

.bgImage{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row: 2;
  width: 100%;
  object-fit: contain;
}

.stgimg1{
  display: grid;
  grid-column: 2/5;
  width: 100%;
  object-fit: contain;
  box-shadow: 10px 10px rgb(5, 48, 108);
  border-radius: 15px;
}

.stgtext1{
  display: grid;
  grid-column: 5/8;
  justify-items: center;
  align-content: center;
  margin-left: 10%;
}

.stgimg2{
  display: grid;
  grid-column: 5/8;
  width: 100%;
  object-fit: contain;
  box-shadow: 10px 10px rgb(5, 48, 108);
  border-radius: 15px;
}

.stgtext2{
  display: grid;
  grid-column: 2/5;
  justify-items: center;
  align-content: center;
  grid-row: 1;
}


.test{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 8;
  background-color: #eff8ff;
}

path {
  fill: transparent;
}
.titletext{
  font-size: large;
}
.QContainer1{
  display: grid;
  grid-column: 2;
  justify-content: center;
  text-align: center;
  background-color: #eff8ff;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(174, 27, 174);
}

.QContainer2{
  display: grid;
  grid-column: 3;
  grid-row: 2;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(5, 48, 108);
}

.QContainer3{
  display: grid;
  grid-column: 4;
  grid-row: 3;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(174, 27, 174);
}

.QContainer4{
  display: grid;
  grid-column: 3;
  grid-row: 4;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(5, 48, 108);
}

.QContainer5{
  display: grid;
  grid-column: 2;
  grid-row: 5;
  justify-content: center;
  text-align: center;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(174, 27, 174);
  align-items: center;
}

a:link, a:hover, a:active, a:visited{
  color: rgb(4, 4, 71);
  text-decoration: none;
}

.sidenav{
  display: grid;
  grid-column: 1;
  grid-row: 1/3;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;

  justify-content: center;
  align-items: center;
  z-index: 50000;
}

.anchor1{
  display: grid;
  grid-row: 1;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  letter-spacing: 5px;
}

.anchor2{
  display: grid;
  grid-row: 5;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  letter-spacing: 5px;
}

.anchor3{
  display: grid;
  grid-row: 3;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  letter-spacing: 5px;
}

.maplink{
  width: 3rem;
}