.grid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.faqs {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ttds {
  display: grid;
  grid-row: 2;
  grid-column: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: clamp(32px, 5vw, 52px);
}
p {
  font-size: clamp(16px, 2vw, 28px);
}
